doctype html
html
  head
    block title
    link(rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/css/style.css")
    block styles
    script(src="/js/vendor/jquery.min.js")
    script(src="/js/simpatico.js")
    block scripts
  body
    #simpatico_body
      #simpatico_header
        #simpatico_logo
          img(src="/img/logo_simpatico.png")
        #simpatico_tabs
          .header_tab
            a(href="/stats")= t('tabs.stats')
          .header_tab
            a(href="/qandas")= t('tabs.qandas')
          .header_tab
            a(href="/simpl")= t('tabs.simpl')
        #simpatico_user
          span Logout
      #simpatico_content
        block content
