extends layout

block title
  title Simplicación
  
block styles
  link(rel="stylesheet", href="css/simpl.css")

block scripts
  script(src="js/simpl.js")

block content
  p.notavailable Not available
